@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #fff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 20px 20px;
}

.filters_section {
    margin-bottom: 50px;
}

.filters_section > div {
    display: flex;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0.5em 0;
}

.filters_form-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.filters_section-type {
    padding: 0 10px;
    margin-right: 50px;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}

.filters_section-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filters_section-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.filters_section-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: 0.3s;
}

.filters_section-checkbox:checked + label::before {
    border-color: #555;
    background-color: #555;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filters_section-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #ccc;
    transition: 0.3s;
}

.filters_section-checkbox:not(:disabled):active + label::before {
    background-color: #ccc;
    border-color: #ccc;
}

.filters_section-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem #aaa;
}

.filters_section-checkbox:focus:not(:checked) + label::before {
    border-color: #bbb;
}

.filters_section-checkbox:disabled + label::before {
    background-color: #bbb;
}

.filters_section-input {
    border: 1px solid #000;
    background: transparent;
    padding: 0.5em;
    border-radius: 5px;
    margin-left: 1em;
}

.filters_section-input:focus {
    outline: none;
}

.filters_section-type--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.filters_section-type > button {
    width: 100px;
    height: 30px;
    font-size: 0.8em;
    background: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 0.5em;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    color: #000;
}

.filters_section-type > button:active {
    background: #eee;
    transition: 0.3s;
}

.cards_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.cards_section-card {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

.cards_section-card--photo {
    width: 100%;
    object-fit: cover;
}

.cards_section-card--body {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.cards_section-card--body > h4 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
}

.cards_section-card--body > span {
    color: #777;
    font-size: 0.8em;
    font-weight: 500;
}

.cards_section-card--body---info {
    display: flex;
    flex-direction: column;
    padding: 5px 1px;
}

.cards_section-card--body---info > div {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.cards_section-card--body---info > div > p {
    margin: 0;
    margin-left: 5px;
    font-size: 0.8em;
}

.cards_section-card--body---availability {
    display: flex;
    align-items: center;
    padding: 5px;
}

.cards_section-card--body---availability----indicator {
    width: 0.4em;
    height: 0.4em;
    border-radius: 100%;
    background: #3db014;
}

.cards_section-card--body---availability > span {
    margin: 0;
    margin-left: 5px;
    font-size: 0.8em;
    color: #555;
}

.cards_section-card--body---price {
    display: flex;
    align-items: center;
}

.cards_section-card--body---price > p {
    margin: 0;
    margin-right: 10px;
    font-size: 1.5em;
}

.cards_section-card--body---price > span {
    margin: 0;
    font-size: 1em;
    color: #aaa;
    text-decoration: line-through;
}

.cards_section-card--body---geo {
    display: flex;
    align-items: center;
    padding: 1px;
}

.cards_section-card--body---geo > span {
    margin: 0;
    margin-left: 5px;
    font-size: 0.8em;
    color: #555;
}
